<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Store</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="bg-linear-to-br from-slate-900 via-slate-800 to-slate-900 min-h-screen text-white">

    <header class="bg-slate-800 border-b-2 border-slate-700 flex justify-between items-center px-10 py-5">
        <div class="flex">
            <h1 class="text-[24px] font-semibold text-orange-500">Book Store</h1>
        </div>
        <form action="/search" method="get" class="flex items-center relative max-md:hidden">
            <label for="search" class="sr-only">Search for books</label>
            <input type="text" name="search" id="search" placeholder="What do you want to Read?" class="border-2 border-slate-600 pl-5 pr-15 py-2.5 w-[20vw] rounded-full bg-slate-700 text-[0.94vw] outline-0 focus-visible:outline-2 focus-visible:outline-orange-500">
            <button type="submit" class="absolute top-[50%] -translate-y-[50%] right-[calc(60px/2-24px/2)]">
                <img src="/assets/images/search.svg" alt="" aria-hidden="true" class="h-6">
            </button>
        </form>
        <nav class="max-md:hidden">
            <ul class="flex gap-8 items-center">
                <li><a href="/" class="text-[20px] hover:text-orange-500">Home</a></li>
                <li><a href="/about" class="text-[1.05vw] hover:text-orange-500">About</a></li>
                <li><a href="/upload" class="text-[1.05vw] hover:text-orange-500">Upload</a></li>
                <li><button class="text-[20px] bg-orange-600 hover:bg-orange-700 px-4 py-2 font-medium rounded-sm cursor-pointer">Login</button></li>
            </ul>
        </nav>
    </header>

</body>

</html>