<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Book Store</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/custom.css" />
</head>

<body class="bg-linear-to-br from-slate-900 via-slate-800 to-slate-900 min-h-screen text-white flex flex-col m-0">
	
	<%- include("partials/header") %>

	<main class="grow">
		<section id="home" class="max-w-7xl mx-auto px-4 py-12 text-center max-[500px]:w-[90%]">
			<h2
				class="text-[clamp(1.5rem,1.25rem+1.5vw,4rem)] text-center font-bold mb-4 bg-linear-to-r from-orange-400 to-orange-600 bg-clip-text text-transparent">
				Discover Your Next Favorite Book
			</h2>
			<p class="text-[clamp(1rem,1rem+0.4vw,1.75rem)] text-center text-slate-400 mb-8">
				Explore thousands of books curated just for you
			</p>
		</section>

		<section class="relative max-w-7xl mx-auto px-[clamp(1rem,3vw,2.5rem)] py-[clamp(1.5rem,4vw,3rem)]">
			<h3 class="font-bold mb-[clamp(1rem,2vw,1.75rem)] text-[clamp(1.4rem,1.2rem+1vw,2rem)]">
				Popular Books
			</h3>
			<div class="mask">
				<div class="absolute left-20 max-xl:left-15 max-lg:left-10 top-1/2 -translate-y-1/2 z-10 max-sm:hidden">
					<button class="btn-left cursor-pointer">
						<img class="w-12 max-lg:w-10" src="/assets/images/left-arrow.svg" alt="Scroll Left">
					</button>
				</div>
				<div
					class="absolute right-20 max-xl:right-15 max-lg:right-10 top-1/2 -translate-y-1/2 z-10 max-sm:hidden">
					<button class="btn-right cursor-pointer">
						<img class="w-12 max-lg:w-10" src="/assets/images/right-arrow.svg" alt="Scroll Right"
							aria-label="Scroll songs right" aria-controls="sad-songs-list">
					</button>
				</div>

				<div class="overflow-x-auto scrollbar-hide booksContainer">

					<%- include("partials/book-card.ejs") %>
					
				</div>
			</div>
		</section>
	</main>

	<%- include("partials/footer.ejs") %>

	<script src="/js/main.js" defer></script>
</body>

</html>